﻿{% extends "m_base_new.html"%}
{% block title %}Smart-Heat-OS - Logmonitor{% endblock %}
{% block bodyclass %}page heizflaechenoptimierung{% endblock %}

{% block mheader %}
    <span><a href="http://support.controme.com/logmonitor/" target="_blank" data-role="none" class="bulb-link"><img src="/static/icons/bulb-icon-grey.png" width="25" height="25"></a></span>
    <span><a href="/" class="ui-btn-icon-notext ui-icon-shadow ui-icon-carat-l ui-alt-icon arrow-link" data-role="none"></a></span>
{% endblock %}

{% block mcontent %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#logli").hide();
            $("#log_module").on('change', function() {
                setLogObjects();
                getLogs();
            });
            $("#log_object").on('change', function() {
                getLogs();
            });

            $("#filterData").keypress(function(e) {
                if (e.keyCode === 13) {
                    e.preventDefault();
                    getLogs();
                }
            });
        });

        function jq(myid) {
           return myid.replace(/[:]/g, "\\$&").replace(/[/]/g, "\\$&");
        }

        function setLogObjects() {
            var rooms = {{ eundr|safe }};
            var modoptions = {{ modoptions|safe }};

            var mod = $("#log_module").val();
            var msl = $("#log_object");
            msl.empty();
            msl.append('<option value="0">Quelle auswählen</option><option value="h">ganzes Haus</option>');
            if(mod == 'doa' || mod == 'hfo' || mod == 'hprg') {
                $.each(rooms, function(idx, etage) {
                    $.each(etage[1], function(jdx, r) {
                        msl.append("<option value='" + r[0] + "'>" + etage[0] + "/" + r[1] + "</option>");
                    });
                });
            } else {
                $.each(modoptions[mod], function(idx, opts) {
                    msl.append("<option value='" + opts[1] + "'>" + opts[0] + "</option>");
                });
            }
            msl.selectmenu("refresh", true);
        }

        function getLogs() {
            var mod = $("#log_module").val();
            var obj = $("#log_object").val().replace("#", "%23");
            var filter = $('#filterData').val();

            if(mod != '0' && obj != '0') {
                $("#spinner").show();
                $.ajax({
                    url: "/m_logmonitor/{{ haus.id }}/?mod=" + mod + "&obj=" + jq(obj) + "&filter=" + filter,
                    dataType: "json",
                    beforeSend: function(){
                    // Show image loader !
                        $.mobile.loading( "show", {
                                text: $.mobile.loader.prototype.options.text,
                                textVisible: false,
                                theme: $.mobile.loader.prototype.options.theme,
                                textonly: false,
                                html: ""
                            });
                        },
                    success: function(data) {
                        $("#log_output").html("");
                        if(!data.length) {
                            $("#log_output").html("-");
                        } else {
                            $("#log_output").append("<table id='log_table' data-role='table' data-mode='reflow' class='ui-responsive logtable'></table>");
                            if(data[0].length == 2) {
                                $("#log_table").append("<thead><th>Zeitpunkt</th><th>Meldung</th></thead>");
                            } else if(data[0].length == 3 && mod == "sens") {
                                $("#log_table").append("<thead><th>Sensor</th><th>Zeitpunkt</th><th>Gateway</th></thead>");
                            } else if (mod == "sens_servm" || mod == "gws_servm") {
                                $("#log_table").append("<thead><th>Zeitpunkt</th><th>Check</th><th>ID</th><th>Meldung</th></thead>");
                            }else {
                                $("#log_table").append("<thead><th>Raum</th><th>Zeitpunkt</th><th>Meldung</th></thead>");
                            }
                            $.each(data, function(idx, item) {
                                var row = "<tr>";
                                $.each(item, function(itm) {
                                    row += "<td>" + item[itm] + "</td>";
                                });
                                row += "</tr>";
                                $("#log_table").append(row);
                            });
                        }
                    }
                }).complete(function() {
                    $.mobile.loading( "hide" );
                    $("#logli").show();
                });
            } else {
                $("#log_output").html("");
                $("#logli").hide();
            }
        }
    </script>

    <style type="text/css">
    @media (min-width:  60em) {
        .logtable {
            width: 100%;
        }
    }
    .logtable tbody tr:nth-child(odd) td {
        background-color: #eeeeee;
    }
    .logtable tbody td {
        border-bottom: 1px solid #e6e6e6;
        padding: .4em .5em;
    }
    </style>

    <div class="title_room info">Logmonitor</div>

    <ul data-role="listview" data-divider-theme="a" class="lmlv">
        <li>
            <select name="log_module" id="log_module" data-mini="true">
                <option value="0">Modul auswählen</option>
                {% for mod in modules %}
                <option value="{{ mod.0 }}">{{ mod.1 }}</option>
                {% endfor %}
            </select>
        </li>
        <li>
            <select name="log_object" id="log_object" data-mini="true">
                <option value="0">Quelle auswählen</option>
                <option value="h">ganzes Haus</option>
{#                {% for e in eundr %}#}
{#                {% for etage, raeume in e.items %}#}
{#                {% for raum in raeume %}#}
{#                <option value="{{ raum.id }}">{{ etage.name }} / {{ raum.name }}</option>#}
{#                {% endfor %}#}
{#                {% endfor %}#}
{#                {% endfor %}#}
            </select>
        </li>
          <li>
            <div class="search-box">
                <form>
                    <input data-type="search" id="filterData">
                </form>
            </div>

        </li>
        <li style="font-size: .8em">
            <input type="submit" name="Aktualisieren" value="Aktualisieren" onclick="getLogs()"/>
        </li>
        <li id="logli">
            <div id="log_output" style="max-height: 75%; overflow: auto"></div>
        </li>
    </ul>
{% endblock %}
