{% extends 'm/m_base.html' %}

{% block title %}Smart-Heat-OS - Login{% endblock %}

{% block mheader %}
{% endblock %}

{% block mcontent %}
    <style>
    html { background-color: #eee; }
        @media only screen and (min-width: 600px){
            .ui-page {
                width: 600px !important;
                margin: 0px auto !important;
                position: relative !important;
                border-right: 1px #666 outset !important;
                border-left: 1px #666 outset !important;
            }
        }
    </style>

    {% if register %}
        <form id="regform" method="post" action="/accounts/register/" data-ajax="false"> {% csrf_token %}
            <ul data-role="listview" id="reglv">
                <li>
                    <label for='email'>Emailadresse</label>
                    <input type='text' name='email' id="email" value='{{e}}'/>
                </li>
                <li>
                    <label for='password'>Passwort</label>
                    <input type='password' name='password' id='password'/>
                </li>
                <li>
                    <label for='pw2'>Passwort wiederholen</label>
                    <input type='password' name='pw2' id='pw2'/>
                </li>

                <li>
                    {% if error %}
                        {% autoescape off %}
                            <span style="color:#cb0963">{{error}}</span>
                        {% endautoescape %}
                    {% endif %}
                </li>
                <li>
                    <input type='submit' value='Registrieren' name='submit'/>
                </li>
            </ul>
        </form>
    {% else %}
        <form action="/accounts/m_login/" data-ajax="false" method="POST" id="loginform">{% csrf_token %}
            <label>Email<input type="text" id="mail" name="mail"/></label>
            <label>Passwort<input type="password" id="pw" name="pw"/></label>
            {% if error %}
                <p style="color:#cb0963;">{% autoescape off %}{{ error }}{% endautoescape %}</p>
            {% endif %}
            <input type="submit" value="Login" />
            <p/>
            <span>
                <a href='/accounts/resetpw/'>Passwort vergessen?</a>
            </span>
        </form>
    {% endif %}
{% endblock %}

{% block footer %}
{% endblock %}
