{% extends 'm/m_base.html' %}

{% block title %}Smart-Heat-OS - Registrierung{% endblock %}

{% block mheader %}
{% endblock %}

{% block mcontent %}
    <style>
    html { background-color: #eee; }
        @media only screen and (min-width: 600px){
            .ui-page {
                width: 600px !important;
                margin: 0px auto !important;
                position: relative !important;
                border-right: 1px #666 outset !important;
                border-left: 1px #666 outset !important;
            }
        }
    </style>

    <form id="regform" method="post" action="/accounts/register/" data-ajax="false">{% csrf_token %}
        <ul data-role="listview" id="reglv">
            <li>
                <label for='email'>Emailadresse</label>
                <input type='text' name='email' id="email" value='{{e}}'/>
            </li>
            <li>
                <label for='password'>Passwort</label>
                <input type='password' name='password' id='password'/>
            </li>
            <li>
                <label for='pw2'>Passwort wiederholen</label>
                <input type='password' name='pw2' id='pw2'/>
            </li>
            {% if error %}
                <p style="color:#cb0963;">{% autoescape off %}{{ error }}{% endautoescape %}</p>
            {% endif %}
            <li>
                <input type='submit' value='Registrieren' name='submit'/>
            </li>
        </ul>
    </form>
{% endblock %}

{% block footer %}
{% endblock %}