{% extends "m/m_base_new.html" %}

{% block title %}Smart-Heat-OS - Temperatur&uuml;berwachung{% endblock %}
{% block bodyclass %}page wetter{% endblock %}
{% block mheader %}
    <span><a href="http://support.controme.com/bedienung-module/modul-wetter/" target="_blank" data-role="none" class="bulb-link"><img src="/static/icons/bulb-icon-grey.png" width="25" height="25"></a></span>
    <span><a href="/m_raum/{{ raum.id }}/" class="ui-btn-icon-notext ui-icon-shadow ui-icon-carat-l ui-alt-icon arrow-link" data-role="none"></a></span>
{% endblock %}

{% block mcontent %}
<script type="text/javascript">
    $(document).on('pageshow', function(){
        {% if not active %}
            $("#wgrid").hide();
        {% endif %}
        $('#raumwetterlv').listview('refresh', true);
    });
    function toggleSlider() {
        $("#wgrid").toggle();
        $('#raumwetterlv').listview('refresh', true);
    }
</script>
<style type="text/css">
    input.ui-slider-input {
        display: none !important;
    }
    div.ui-slider-track {
        margin:0;
    }
    label.ui-btn {
        font-weight: normal;
    }
</style>

{% if raum.name %}
<a data-role="none" href="/m_raum/{{ raum.id }}/" class="ui-link-inherit custome_a">
    <div class="room_wrapper">
        <img src="/static/icons/{{raum.icon}}.png" alt="icon">{{raum.name}}
    </div>
</a>
{% endif %}

<form action="/m_raum/{{raum.id}}/wetter/" method="post" data-ajax='false' id='wrform'> {% csrf_token %}
    <ul data-role="listview" data-divider-theme="a" id='raumwetterlv'>
        <li data-role='list-divider'>Wettereinstellungen</li>
        {% if gactive %}
            <li>
                <form id="check_wetter">
                    <label style="margin:0px;border:0;" data-corners="false">
                    <input data-id="{{raum.id}}" type="checkbox" onclick="toggleSlider();" name="wetter" value='1' {%if active%}checked{%endif%}/>
                    Wettersteuerung aktiviert
                </label>
                </form>
    
                <div id="wgrid">
                    <br/>
                    vorzeitig absenken bei steigenden Au&szlig;entemperaturen?
        
                    <div class="ui-grid-b">
                        <div class="ui-block-a" style="min-width:30px;max-width:20%;text-align:right;padding-right:15px;padding-top:8px;margin: 0px 0px !important;">
                            wenig
                        </div>
                        <div class="ui-block-b" style="max-width:100%;min-width:60% ; margin: 0px 0px 0px 0px !important;" >
                            <div style="margin: 0px 0px 0px 0px !important;">
                            <input data-id="{{raum.id}}" style="margin: 0px 0px 0px 0px !important;" type="range" name="warm" id="warm" value="{{w}}"
                                            min="0" max="10" step="1"  data-mini="true" data-highlight="true"
                                            data-popup-enabled="true"/>
                            </div>
                        </div>
                        <div class="ui-block-c"  style="min-width:30px;max-width:20%;padding-left:15px;padding-top:8px;">
                            viel
                        </div>
                    </div>
                
                    vorzeitig anheben bei sinkenden Au&szlig;entemperaturen?
                    
                    <div class="ui-grid-b">
                        <div class="ui-block-a" style="min-width:30px;max-width:20%;text-align:right; padding-right:15px;padding-top:8px;">
                            wenig
                        </div>
                        <div class="ui-block-b" style="max-width:100%;min-width:60%;">
                            <input data-id="{{raum.id}}" type="range" name="kalt" id="kalt" value="{{k}}" 
                                           min="0" max="10" step="1"  data-mini="true" data-highlight="true"
                                           data-popup-enabled="true"/>
                        </div>
                        <div class="ui-block-c"  style="min-width:30px;max-width:20%; padding-left:15px;padding-top:8px;">
                            viel
                        </div>
                    </div>
                </div>
            </li>
            <!-- <li data-icon='false' style="padding:0px;">
                <a href="#" onclick="$('#wrform').get(0).submit();" style="text-align:center">Speichern</a>
            </li> -->
        {% else %}
            <li>
                <a href='/m_setup/{{haus.id}}/wetter/'>Wetter deaktiviert</a>
            </li>
        {% endif %}
    </ul>
</form>

<ul data-role="listview" class="ui-alt-icon sort" data-collapsed-icon="arrow-u" data-expanded-icon="arrow-d" data-iconpos="right" data-inset="false">
    <li>
        <a href="/m_wetter/{{ haus.id }}/" style="max-height: 20px; padding: 10px 0; font-size: 14px;" class="ui-btn ui-btn-icon-right ui-icon-carat-r">
            <span class="ui-btn-icon-notext ui-icon-shadow mehrere-Räume-bearbeiten">&nbsp;</span>
            mehrere Räume bearbeiten
        </a>
    </li>
</ul>

{% endblock %}
