{% extends "m/m_base_new.html" %}
{% load i18n %}
{% block title %}{% trans "Smart-Heat-OS - Temperatur&uuml;berwachung" %}{% endblock %}
{% block bodyclass %}timer page{% endblock %}

{% block mheader %}
    <a href="/m_{{modulename}}/{{haus.id}}/show/{{objid}}/" class="ui-btn-icon-notext ui-icon-shadow ui-icon-carat-l ui-alt-icon" data-role="none">&nbsp;</a>
{% endblock %}

{% block mcontent %}
<style type="text/css">

    div.ui-btn {
        font-weight: normal;
    }
</style>
<a data-role="none" href="/m_differenzregelung/{{haus.id}}/show/{{objid}}/" class="ui-link-inherit custome_a">

<div class="room_wrapper">{% if config.icon %}<img src="/static/heating-icons/icon_{{config.icon}}.png" alt="icon">{%endif%}{{config.name}}</div>

</a>
<form action="/m_{{ modulename }}/{{haus.id}}/show/{{ objid }}/timer/" method="post" data-ajax='false' id='zsrform'>

    {% csrf_token %}

    <ul data-role="listview" data-divider-theme="a" data-split-icon="delete" data-split-theme='c'>
        <li data-role='list-divider'>{% trans "Timer" %}</li>
        {% if delta %}
            {% autoescape off %}{{ delta }}{% endautoescape %}
        {% endif %}
        <li>
        <div class="temp_set">
            <h4>{% trans "Temperatur Offset" %}</h4>
            <span class="temp_offset">{{ default|default:"-1.00" }}</span>
            <span class="ui-btn-icon-notext ui-icon-shadow ui-icon-minus minus-tempOne ui-alt-icon">&nbsp;</span>
            <span class="ui-btn-icon-notext ui-icon-shadow ui-icon-plus plus-tempOne ui-alt-icon">&nbsp;</span>
            <input type="hidden" value=""/>
           <input type="range" id="offset-slider" name="offset" min="-20" max="20" value="-1" step=".5" data-mini="true" data-highlight="true" data-popup-enabled="true"/>
        </div>

        </li>
        <li>
            <label>{% trans "Zeit" %}</label>
            <label for="datetime-4">{% trans "Beginn" %}</label>
            <input type="datetime-local" data-clear-btn="true" name="starttime" id="datetime-4" value="{{starttime}}"/>
            <label for="datetime-4">{% trans "Ende" %}</label>
            <input type="datetime-local" data-clear-btn="true" name="endtime" id="datetime-5" value="{{endtime}}"/>

        </li>
        {% if error %}
            <li style="color:#cb0963">
                {% autoescape off %}{{error}}{% endautoescape %}
            </li>
        {% endif %}
        <li data-icon='false'>
            <a href="#" onclick="$('#zsrform').get(0).submit();" style="text-align:center">{% trans "Timer aktivieren" %}</a>
        </li>
    </ul>

</form>

<div data-role="popup" id="popupTemp" data-theme="a" class="ui-corner-all">
    <div id="popupTempContent">
    <span class="popupTempIcon"><img src=""> </span><span class="popupTempName"></span>
    <label for="popupTempInput">{% trans "Solltemperatur:" %}</label>
    <input type="text" name="popupTempInput" id="popupTempInput" value=""/>
    <a href="#" id="popupTempSave" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-icon-check">{% trans "Speichern" %}</a>
    </div>
</div>
{% endblock %}