{% extends "m/m_base.html" %}

{% block title %}Smart-Heat-OS - Fernzugriff{% endblock %}

{% block mheader %}
        <a href="/config/{{haus.id}}/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
{% endblock %}

{% block mcontent %}

    <form method="post" action="/m_setup/{{haus.id}}/fernzugriff/" data-ajax="false" id='rcform'> {% csrf_token %}
    <ul data-role="listview" data-divider-theme="a" id="rclist">

        <li data-role="list-divider">
            Fernzugriff
        </li>
        {% if active and not is_running %}
            <li style="color:#cb0963">Die Einrichtung Ihres Miniservers wurde auf dem Controme Direct Connect Server gestartet.
                Bitte warten Sie ca. 30s und dr&uuml;cken Sie dann erneut auf Starten.</li>
            <li data-icon='false'>
                <input type="hidden" id="enable" name="enable" value="enable"/>
                <a href="#" onclick="$('#rcform').get(0).submit();" style="text-align:center">Jetzt Starten</a>
            </li>
        {% endif %}
        {% if active and is_running %}
            <li><a href="https://{{ address }}.fwd.controme.com">https://{{ address }}.fwd.controme.com</a></li>
            <li data-icon='false'>
                <input type="hidden" id="disable" name="disable" value="disable"/>
                <a href="#" onclick="$('#rcform').get(0).submit();" style="text-align:center">Stoppen</a>
            </li>
        {% endif %}
        {% if not active %}
            <li data-icon='false'>
                <input type="hidden" id="enable" name="enable" value="enable"/>
                <a href="#" onclick="$('#rcform').get(0).submit();" style="text-align:center">Starten</a>
            </li>
        {% endif %}
    </ul>
    </form>

{% endblock %}
