{% extends "m_base.html"%}

{% block title %}Smart-Heat-OS - Einrichtung{% endblock %}

{% block mheader %}
        <a href="/config/{{haus.id}}/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
        <a href="http://support.controme.com/differenzregelung-und-solaranlage/" target="_blank" data-role="button" data-icon="bulb-icon-grey" data-mini="true" data-inline="true" class="ui-btn-right bulb-icon" data-iconpos="notext"></a>
{% endblock %}

{% block mcontent %}

<ul data-role="listview" data-divider-theme="a" id="dreglist">
    <li data-role="list-divider" id="dregs">Angelegte Differenzregelungen</li>
    {% if dreg|length %}
    {% for dregid, dparams in dreg %}
    <li>
        <a href="/m_setup/{{ haus.id }}/differenzregelung/edit/{{ dregid }}/">Differenzregelung {{ dregid }}{% if dparams.name %}: {{ dparams.name }}{% endif %}</a>
    </li>
    {% endfor %}
    {% else %}
    <li>-</li>
    {% endif %}
</ul>

{% endblock %}

{% block footer %}
    <div data-role='navbar' data-position="fixed" data-tap-toggle="false">
        <ul>
            <li>
                <a href='/m_setup/{{haus.id}}/differenzregelung/edit/' data-icon='gear'>Differenzregelung anlegen</a>
            </li>
        </ul>
    </div>
{% endblock %}