{% extends "m/m_base.html" %}
{% load i18n %}
{% block title %}Smart-Heat-OS - Amazon Alexa{% endblock %}

{% block mheader %}
        <a href="/config" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
        <a href="https://support.controme.com/amazon-alexa-integration/#Aktivierungsschluessel_anfordern" target="_blank" data-role="button" data-icon="bulb-icon-grey" data-mini="true" data-inline="true" class="ui-btn-right bulb-icon" data-iconpos="notext"></a>
{% endblock %}

{% block bodycls %}amazon-alexao{%endblock%}

{% block mcontent %}

<script type="text/javascript">
    function getUrlVars()
    {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for(var i = 0; i < hashes.length; i++)
        {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }
    $(document).ready(function () {
        let success_saved = getUrlVars()["success"];
        if(success_saved){
            $('#success-message').removeClass('hidden');
        }

    });
</script>
<style type="text/css">
    .green-font{
        padding-left: 15px;
        color: #67a540;
    }
    .hidden{
        display: none;
    }
</style>

 <form action="/m_setup/{{ haus.id }}/alexa_interface/changeid/" method="post" data-ajax="false">{% csrf_token %}
    <ul data-role="listview" data-divider-theme="a">
        <li><span class="title">MAC-Adresse für Alexa</span></li>
        <li>
            <p id="success-message" class="green-font hidden">Alexa-Id has been saved</p>
            <input type="text" data-clear-btn="false" name="alexa_id" id="alexa-id" value="{{ alexa_id }}" />
        </li>
        <li>
            <input type="submit" value='{% trans "speichern" %}' style="padding:0px;" data-corners="false" class="ui-btn ui-btn"/>
        </li>
    </ul>
 </form>
{% endblock %}
