{% extends "m/m_base.html" %}

{% block title %}Smart-Heat-OS - Raumgruppen{% endblock %}

{% block mheader %}
        <a href="/config/{{haus.id}}/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
        <a href="http://support.controme.com/bedienung-module/modul-raumgruppen/" target="_blank" data-role="button" data-icon="bulb-icon-grey" data-mini="true" data-inline="true" class="ui-btn-right bulb-icon" data-iconpos="notext"></a>
{% endblock %}

{% block mcontent %}
<script type="text/javascript">
    
    $(document).on('pageshow', function(event, ui) {
        ui.prevPage.remove();
        $.ajax({
            url: "/m_setup/{{haus.id}}/raumgruppen/?getrg=true",
            dataType: "json",
            success: function(data) {
                $(".rgc").remove(); // wg. page caching
                if(data) {
                    $.each(data, function(k, v) {
                        $("#rgli").after("<li class='rgc' id='rg"+k.split('##')[0]+"'><a href='/m_setup/{{haus.id}}/raumgruppen/?rgid="+k.split('##')[0]+"'>" +
                                         "<span id='rgspan"+k.split('##')[0]+"'><h5>" + k.split('##')[1] + "</h5></span></a>" );
                        $.each(v, function() {
                            $("#rgspan"+k.split('##')[0]).append("<p>&nbsp;&nbsp;&nbsp;"+this+"</p>");
                        });
                    });
                } else {
                    if($(".rgc").size() === 0) {
                        $("#rgli").after("<li class='rgc'>-</li>");
                    }
                }
                $("#spinner").hide();
                $("#rglist").listview('refresh');
            }
        });
    });

    function toggleSelection(eid) {
        if($("#all"+eid).prop('checked')) {
            $("."+eid).each(function() {
                $(this).prop('checked', true);
                $(this).checkboxradio('refresh');
            });
        } else {
            $("."+eid).each(function() {
                $(this).prop('checked', false);
                $(this).checkboxradio('refresh');
            });
        }
    }
</script>
    
<form method="post" action="/m_setup/{{haus.id}}/raumgruppen/" data-ajax="false" id='rgsform'> {% csrf_token %}
<ul data-role="listview" id="rglist">
    <li data-role="list-divider" id="rgli">
        Raumgruppen
    </li>
    <li id='spinner'>
        <span><center><img src='/static/images/ajax-loader.gif'/></center></span>
    </li>
    
    <li data-role="list-divider">
        Raumgruppe anlegen
    </li>
    <li>
        <label class="control-label" for="name">Name</label>
        <input type="text" name="name"/>
    </li>
    <li>
        {% for e in eundr %}
        {% for etage, raeume in e.items %}
            <br/>{{ etage.name }}<br/>
            <label><input class="" type="checkbox" name="all{{ etage.id }}" id="all{{ etage.id }}" onclick="toggleSelection({{etage.id}});"/>alle</label>
            {% for raum in raeume %}
                <label>
                    <input class="{{ etage.id }}" type="checkbox" data-mini="true" name="rsel{{ raum.id }}" id="rsel{{ raum.id }}"/>
                    {{ raum.name }}
                </label>
            {% endfor %}
        {% endfor %}
        {% endfor %}
    </li>
    {% if error %}
    <li>
        <div style="color:#cb0963">{% autoescape off %}{{error}}{% endautoescape %}</div>
    </li>
    {% endif %}
    <li data-icon='false'>
        <input type="hidden" value="true" id="rgcreate" name="rgcreate"/>
        <!--input type="submit" class="btn btn-primary" value="Raumgruppe anlegen" {% if haus.eigentuemer != request.user %}disabled="true"{% endif %}/-->
        <a href="#" onclick="$('#rgsform').get(0).submit();" style="text-align:center">Raumgruppe anlegen</a>
    </li>    
</ul>
</form>
{% endblock %}