{% extends "m/m_base_new.html" %}

{% block title %}Smart-Heat-OS - Temperatur&uuml;berwachung  {% endblock %}
{% block bodyclass %}jahreskalender page{% endblock %}
{% block mheader %}
        <span><a href="http://support.controme.com/bedienung-module/modul-jahreskalender/" target="_blank" data-role="none" class="bulb-link"><img src="/static/icons/bulb-icon-grey.png" width="25" height="25"></a></span>
        {% if raum %}
            <span><a href="/m_raum/{{raum.id}}/" class="ui-btn-icon-notext ui-icon-shadow ui-icon-carat-l ui-alt-icon arrow-link" data-role="none"></a></span>
        {% else %}
            <span><a href="/" class="ui-btn-icon-notext ui-icon-shadow ui-icon-carat-l ui-alt-icon arrow-link" data-role="none"></a></span>
        {% endif %}


{% endblock %}

{% block mcontent %}

    <div class="plus">
        <a href="?add" style="float:right" class="ui-btn ui-icon-plus ui-btn-icon-notext ui-corner-all  ui-alt-icon ui-icon-shadow icon-no-bg ">Add</a>
    </div>

    <div class="search-box">
        <form>
            <input data-type="search" id="searchForCollapsibleSet" value="{% if search_name %}{{ search_name }}{% endif %}">
        </form>
    </div>

    <div class="ui-alt-icon">
    <fieldset data-role="controlgroup" data-type="horizontal" class="top-select">
        <label for="select-order" class="select">auswählen</label>
        <select name="select-order" id="select-order" data-icon="arrow-d">
            <option value="relevant">relevante Einträge</option>
            <option value="all">alle Einträge</option>
            <option value="currently">aktuell aktive Einträge</option>
            <option value="past">vergangene Einträge</option>
        </select>

        <label for="select-sort" class="select">auswählen</label>
        <select name="select-sort" id="select-sort" data-icon="arrow-d">
            <option value="start">Startzeit</option>
            <option value="end">Endzeit</option>
            <option value="name">Name</option>
            <option value="created">erstellt am </option>
            <option value="edited">zuletzt bearbeitet </option>
        </select>
    </fieldset>

    <a href="#" class="ui-btn ui-icon-arrow-d ui-btn-icon-right collapsible-open">alle ausklappen</a>
    <div class="record-list" data-filter="true"  id="collapsiblesetForFilter" data-input="#searchForCollapsibleSet">
        {% if list %}
            {% for item in list.hausraum %}
                {% if item and not item.hide %}

                    <div data-collapsed="true" {% if not item.next_start %}data-old="true"{% endif %}
                         data-role="collapsible" class="record-collapsible {% if item.active %}active{% endif %}"
                         data-name='{{ item.name|default:"Unbenannt" }}' data-begin="{{ item.begin_int }}"
                         data-end="{{ item.end_int }}" data-created="{{ item.created_int }}"
                         data-edited="{{ item.edited_int }}" data-collapsed="false" data-iconpos="right" data-inset="false">
                        <h4>
                            <ul>
                                <li><b><span style="color:#779A45;">Offset-Eintrag: {{item.name|default:"Unbenannt"}}</span></b></li>
                                <li>{% if item.active %} aktuell aktiv {% else %} aktuell nicht aktiv{% endif %}</li>
                                <li>nächster Start: {{item.next_start}}</li>
                                <li>nächstes Ende: {{item.next_end}}</li>
                                <li>aktuelle Zeit: {{ now }}</li>
                                <li>Räume: {{ item.rooms_name|join:", " }}</li>
                                <li>Differenzregelungen: {{ item.diffs_name|join:", " }}</li>
                                <li>Vorlauftemperaturregelungen: {{ item.vors_name|join:", " }}</li>
                                <li>FPS: {% ifequal item.fps.0 "all" %}ja{% else %}-{% endifequal %}</li>
                            </ul>
                            <span class="offset">{{ item.offset|floatformat }}</span>
                        </h4>

                        {% if raum %}
                            <a href="/m_raum/{{ raum.id }}/jahreskalender/?edit={{ forloop.counter0 }}&typ=hausraum"" class="link-record">
                        {% else %}
                            <a href="/m_jahreskalender/{{ haus.id }}/?edit={{ forloop.counter0 }}&typ=hausraum" class="link-record">
                        {% endif %}
                            <ul>
                                <li>von: {{item.begin_str}}</li>
                                <li>bis: {{item.end_str}}</li>
                                <li>Beenden:  {{item.end_repeat_str}}</li>
                                <li>wiederholen: {{ item.repeat_name|join:", " }}</li>
                                <li>ID: {{forloop.counter0}}</li>
                                <li>erstellt: {{item.created}}</li>
                                <li>zuletzt bearbeitet: {{item.edited}}</li>
                                <li>aktuelle Zeit: {{ now }}</li>
                            </ul>
                        </a>

                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}

        {% if list %}
            {% for item in list.temperaturszenen %}

                    <div data-collapsed="true" {% if not item.next_start %}data-old="true"{% endif %}
                         data-role="collapsible" class="record-collapsible {% if item.active %}active{% endif %}"
                         data-name='{{ item.name|default:"Unbenannt" }}' data-begin="{{ item.begin_int }}"
                         data-end="{{ item.end_int }}" data-created="{{ item.created_int }}"
                         data-edited="{{ item.edited_int }}" data-collapsed="false" data-iconpos="right" data-inset="false">
                        <h4>
                            <ul>
                                <li><b><span style="color:#019BB0;">Temperaturszenen-Fixierung: {{item.name|default:"Unbenannt"}}</span></b></li>
                                <li>{% if item.active %} aktuell aktiv {% else %} aktuell nicht aktiv{% endif %}</li>
                                <li>nächster Start: {{item.next_start}}</li>
                                <li>nächstes Ende: {{item.next_end}}</li>
                                <li>aktuelle Zeit: {{ now }}</li>
                                <li>erstellt: {{item.created}}</li>
                                <li>Temperaturszene: {{item.mode_name}}</li>
                            </ul>
                            <span class="offset">{{item.mode_name}}</span>
                        </h4>
                            <a href="/m_jahreskalender/{{ haus.id }}/?edit={{ forloop.counter0 }}&typ=temperaturszenen" class="link-record">
                        </a>

                    </div>
            {% endfor %}
        {% endif %}

        {% if list %}
            {% for item in list.heizprogramm %}

                    <div data-collapsed="true" {% if not item.next_start %}data-old="true"{% endif %}
                         data-role="collapsible" class="record-collapsible {% if item.active %}active{% endif %}"
                         data-name='{{ item.name|default:"Unbenannt" }}' data-begin="{{ item.begin_int }}"
                         data-end="{{ item.end_int }}" data-created="{{ item.created_int }}"
                         data-edited="{{ item.edited_int }}" data-collapsed="false" data-iconpos="right" data-inset="false">
                        <h4>
                            <ul>
                                <li><b><span style="color:#cb0963;">Heizprogramm-Wechsel: {{item.name|default:"Unbenannt"}}</span></b></li>
                                <li>{% if item.active %} aktuell aktiv {% else %} aktuell nicht aktiv{% endif %}</li>
                                <li>nächster Start: {{item.next_start}}</li>
                                <li>aktuelle Zeit: {{ now }}</li>
                                <li>erstellt: {{item.created}}</li>
                                <li>Heizprogramm: {{item.showing_text}}</li>
                            </ul>
                            <span class="offset">{{item.showing_text}}</span>
                        </h4>
                            <a href="/m_jahreskalender/{{ haus.id }}/?edit={{ forloop.counter0 }}&typ=heizprogramm" class="link-record">
                        </a>

                    </div>
            {% endfor %}
        {% endif %}
    </div>
</div>

{% endblock %}