{% extends "m/m_base_new.html" %}

{% block title %}Smart-Heat-OS - Temperatur&uuml;berwachung{% endblock %}
{% block bodyclass %}page jahreskalender{% endblock %}
{% block mheader %}
        <a href="/m_{{regelung}}/{{ haus.id }}/show/{{objid}}/jahreskalender/" class="ui-btn-icon-notext ui-icon-shadow ui-icon-carat-l ui-alt-icon" data-role="none">&nbsp;</a>
{% endblock %}

{% block mcontent %}

    <script type="application/javascript">
        function checkForm() {
            var mtch = '^2[0-9]{3}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}$';
            var err = false;
            if(!$("#begin").val().match(mtch)) {
                $("#begin_error").html("Bitte Datum im Format 'jjjj-mm-ttTss:mm' angeben.");
                err = true;
            } else {
                $("#begin_error").html("");
            }
            if(!$("#end").val().match(mtch)) {
                $("#end_error").html("Bitte Datum im Format 'jjjj-mm-ttTss:mm' angeben.");
                err = true;
            } else {
                $("#end_error").html("");
            }
            if(!$("#end_repeat").val().match(mtch)) {
                $("#end_repeat_error").html("Bitte Datum im Format 'jjjj-mm-ttTss:mm' angeben.");
                err = true;
            } else {
                $("#end_repeat_error").html("");
            }
            if($("#begin").val() > $("#end").val()) {
                $("#range_error").html("Beginn muss vor dem Ende liegen.");
                err = true;
            } else {
                $("#range_error").html("");
            }

            return !err;
        }
    </script>


    <form action="/m_{{regelung}}/{{ haus.id }}/show/{{objid}}/jahreskalender/" method="post" data-ajax="false" onsubmit="return checkForm();">
        {% csrf_token %}
        <input name="typ" class='typ' value="hausraum" type="hidden" />
        <div class="temp_set">
            <input type="text" name="name" value="{{ data.name }}" placeholder="Enter optional name here">
            <h4>Temperaturoffset</h4>
            <span class="temp_offset">{{ data.offset|default:"-1.00" }}</span>
            <span class="ui-btn-icon-notext ui-icon-shadow ui-icon-minus minus-tempOne ui-alt-icon">&nbsp;</span>
            <span class="ui-btn-icon-notext ui-icon-shadow ui-icon-plus plus-tempOne ui-alt-icon">&nbsp;</span>
            <input type="hidden" value="{{ data.offset|default:"-1.00" }}" name="offset"/>
            <input type="range" id="offset-slider" min="-10" max="10" value="{{ data.offset|default:"-1.00" }}"
                   step=".1" data-mini="true" data-highlight="true" data-popup-enabled="true"/>
        </div>

        <div class="ui-grid-a ui-alt-icon">
            <div class="ui-block-a">Beginn</div>
            <div class="ui-block-b right-input">
                <input type="datetime-local" data-clear-btn="true" name="begin" required value="{{ data.begin|default:now }}" id="begin"/>
            </div>
            <div style="color: #cb0963;" id="begin_error"></div>
        </div>


        <div class="ui-grid-a ui-alt-icon">
            <div class="ui-block-a">Ende</div>
            <div class="ui-block-b right-input">
                <input type="datetime-local" data-clear-btn="true" name="end" required value="{{ data.end|default:next_hour }}" id="end"/>
            </div>
            <div style="color: #cb0963;" id="end_error"></div>
            <div style="color: #cb0963;" id="range_error"></div>
        </div>


        <div class="white-block">wiederholen</div>
        <fieldset data-role="controlgroup" data-corners="false" data-type="horizontal" data-mini="true" class="repeats">
            <input type="checkbox" name="repeat" id="wiederholen-mo" value="1" {% if 1 in data.repeat %}checked="checked"{% endif %}>
            <label for="wiederholen-mo">Mo</label>
            <input type="checkbox" name="repeat" id="wiederholen-di" value="2" {% if 2 in data.repeat %}checked="checked"{% endif %}>
            <label for="wiederholen-di">Di</label>
            <input type="checkbox" name="repeat" id="wiederholen-mi" value="3" {% if 3 in data.repeat %}checked="checked"{% endif %}>
            <label for="wiederholen-mi">Mi</label>
            <input type="checkbox" name="repeat" id="wiederholen-do" value="4" {% if 4 in data.repeat %}checked="checked"{% endif %}>
            <label for="wiederholen-do">Do</label>
            <input type="checkbox" name="repeat" id="wiederholen-fr" value="5" {% if 5 in data.repeat %}checked="checked"{% endif %}>
            <label for="wiederholen-fr">Fr</label>
            <input type="checkbox" name="repeat" id="wiederholen-sa" value="6" {% if 6 in data.repeat %}checked="checked"{% endif %}>
            <label for="wiederholen-sa">Sa</label>
            <input type="checkbox" name="repeat" id="wiederholen-so" value="0" {% if 0 in data.repeat %}checked="checked"{% endif %}>
            <label for="wiederholen-so">So</label>
        </fieldset>

        <div class="ui-grid-a ui-alt-icon">
            <div class="ui-block-a w-b-text">wiederholen beenden</div>
            <div class="ui-block-b right-input">
                <input type="datetime-local" data-clear-btn="true" name="end_repeat" required value="{{ data.end_repeat|default:'2099-12-31T23:59' }}" id="end_repeat"/>
            </div>
            <div style="color: #cb0963;" id="end_repeat_error"></div>
        </div>

        <div class="ui-grid-a select-room">
            <fieldset data-role="controlgroup" data-iconpos="right">

                <input type="checkbox" name="select-all" value="select-all" id="select-all" class="select-all"/>
                <label id="select-all-label" for="select-all" data-corners="false" class="bold" style="margin: 0; border-bottom-width: 1px;">alle Räume auswählen</label>
                {% for e in eundr %}
                    {% for etage, raeume in e.items %}
                        {% for r in raeume %}
                            <input type="checkbox" name="rooms" value="{{ r.id }}" class="room" data-house="{{ etage.id }}" style="border-bottom-width: 1px;" id="room-{{ r.id }}"
                                   {% if r.id in selected_rooms %}checked="checked"{% endif %}/>
                            <label for="room-{{ r.id }}" style="border-bottom-width: 1px;" class="line-border"><img src="/static/icons/{{ r.icon }}.png"/>{{etage.name}} | {{ r.name }}</label>
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
                <input type="checkbox" name="select-all-diff" value="select-all" id="select-all-diff" class="select-all-diff"/>
                <label id="select-all-label-diff" for="select-all-diff" data-corners="false" class="bold" style="margin: 0; border-bottom-width: 1px;">alle Differenzregelungs auswählen</label>
                {% for dregid, dparams in diff_params %}
                    <input type="checkbox" name="diffs" value="{{ dregid }}" data-house="{{ dregid }}"
                                   {% if dregid in list_diff %} checked {% endif %} id="diff-{{ dregid }}" class="diff"/>
                            <label for="diff-{{ dregid }}" class="line-border">
                                {% if dparams.icon %}<img src="/static/heating-icons/icon_{{ dparams.icon }}.png"/> {% endif %}
                                {{ dparams.name }}
                            </label>
                {% endfor %}
                <input type="checkbox" name="select-all-vor" value="select-all" id="select-all-vor" class="select-all-vor"/>
                <label id="select-all-label-vor" for="select-all-vor" data-corners="false" class="bold" style="margin: 0; border-bottom-width: 1px;">alle Vorlauftemperaturregelung auswählen</label>
                {% for dregid, dparams in vor_params %}
                    <input type="checkbox" name="vors" value="{{ dregid }}" data-house="{{ dregid }}"
                                   {% if dregid in list_vor %} checked {% endif %} id="vor-{{ dregid }}" class="vor"/>
                            <label for="vor-{{ dregid }}" class="line-border">
                                {% if dparams.icon %}<img src="/static/heating-icons/icon_{{ dparams.icon }}.png"/> {% endif %}
                                {{ dparams.name }}
                            </label>
                {% endfor %}
            </fieldset>

        </div>

        <input type="submit" value="speichern" style="padding:0px;" data-corners="false" class="ui-btn ui-btn"/>

        {% if index > -1 %}
            <a href="/m_{{regelung}}/{{ haus.id }}/show/{{objid}}/jahreskalender/?delete={{index}}&typ={{typ}}" style="margin: 20px -10px;" data-corners="false" class="ui-btn ui-mini red-str">
                Eintrag l&ouml;schen
            </a>
            <input type="hidden" name="index" value="{{index}}"/>
        {% endif %}

    </form>

<div data-role="popup" id="popupTemp" data-theme="a" class="ui-corner-all">
    <div id="popupTempContent">
    <span class="popupTempIcon"> </span><span class="popupTempName"></span>
    <label for="popupTempInput">Solltemperatur:</label>
    <input type="text" name="popupTempInput" id="popupTempInput" value="">
    <a href="#" id="popupTempSave" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-icon-check">Speichern</a>
    </div>
</div>

{% endblock %}