{% extends "m_base.html" %}

{% block title %}Smart-Heat-OS - Raumanforderung - Hilfe{% endblock %}

{% block mheader %}
    <a href="/m_setup/{{haus.id}}/pumpenlogik/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
{% endblock %}

{% block mcontent %}

    <h2>Raumanforderung</h2>

    <h3>Funktionsweise</h3>

        <p>
            Die Raumanforderung verbindet die Einzelraumregelung mit der zentralen Heizungssteuerung. Das System
            überwacht, ob die jeweilige Zieltemperatur in den ausgewählten Räumen erreicht ist. Ist dies der Fall, wird
            ein zusätzlicher Kontakt am Gateway oder ein Funk-Relais geschaltet. Dieser Kontakt wird
            an den Führungsraum-Eingang der zentralen Heizungssteuerung angeschlossen. Der Wärmeerzeuger wird damit nur
            freigegeben, wenn mindestens einer der in der Software ausgewählten Räume auch Wärmebedarf hat. Haben alle
            Räume ihre Zieltemperatur erreicht, wird auch der Wärmeerzeuger gesperrt.
        </p>

    <h3>Konfigurationsmöglichkeiten</h3>

        <p>
            Unter <b>Ausgänge auswählen</b> werden alle Geräte angezeigt, die potentiell Ausgänge schalten können.
            Durch Klick auf ein Gerät werden alle bisher an diesem Gerät zugeordneten Ausgänge angezeigt. Es können
            mehrere Ausgänge an verschiedenen Geräten ausgewählt werden. Die hier ausgewählten Ausgänge werden
            zusammengefasst und gebündelt weitergegeben an die zu schaltenden Ausgänge. Wenn alle hier ausgewählten
            Ausgänge auf 0 / aus stehen, werden auch alle zu schaltenden Ausgänge auf 0 / aus gestellt. Sobald ein
            einziger hier ausgewählter Ausgang auf 1 / ein steht, werden auch alle zu schaltenden Ausgänge auf 1 / ein
            gestellt.
        </p>

        <p>
            Unter <b>zu schaltende Ausgänge</b> werden alle Geräte mit den jeweils an ihnen noch unzugeordneten
            Ausgängen angezeigt. Es können mehrere Ausgänge an unterschiedlichen Geräten ausgewählt werden.
        </p>

        <p>
            Der <b>Standardwert im Fehlerfall / Raumanforderung deaktiviert</b> definiert, auf was die zu schaltenden
            Ausgänge gestellt werden, wenn ein Fehlerfall eintritt (z.B. dass ein Gateway keine Verbindung mehr zum
            Internet hat) oder wenn das ganze Modul Raumanforderung deaktiviert wird.
        </p>

{% endblock %}
