{% extends "m_base.html"%}

{% block title %}Smart-Heat-OS - Einrichtung{% endblock %}

{% block mheader %}
        <a href="/m_setup/{{haus.id}}/knx/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
        {% if datapoint.id %}
            <a href="/m_setup/{{haus.id}}/knx/{% if 'Sensor' in datapoint.get_identifier %}sdelete/{% else %}adelete/{% endif %}{{ datapoint.get_url_ga }}/" data-role="button" data-icon="false" data-mini="true" data-inline="true" class="ui-btn-right" style="color:#cb0963;">löschen</a>
        {% else %}
            <a href="http://support.controme.com/grundlegende-konfiguration/" target="_blank" data-role="button" data-icon="bulb-icon-grey" data-mini="true" data-inline="true" class="ui-btn-right bulb-icon" data-iconpos="notext"></a>
        {% endif %}
{% endblock %}

{% block mcontent %}
    <script type="text/javascript">
    function changeForm() {
        var dpt = $("#dpt").val();
        var typ = $("#typ").val();

        if(dpt == "1.001") {
            $(".dpt-9-001").hide();
        } else if(dpt == "5.001") {
            $(".dpt-9-001").hide();
        } else if(dpt == "9.001") {
            if(typ == "sensor") {
                $(".dpt-9-001").show();
            } else {
                $(".dpt-9-001").hide();
            }
        }
        if(typ == "aktor") {
            $(".aktor").show();
            // $(".sensor").hide();
        } else {
            $(".aktor").hide();
            // $(".sensor").show();
        }
    }

    $(document).ready(function() {

        $("#dpt").on("change", function() {
            changeForm();
        });

        $("#typ").on("change", function() {
            changeForm();
        });

        $("#dpt").trigger("change");

    });
    </script>

    <form action="/m_setup/{{haus.id}}/knx/{% if datapoint.id %}{% if 'Sensor' in datapoint.get_identifier %}sedit/{% else %}aedit/{% endif %}{{ datapoint.get_url_ga }}{% else %}add{% endif %}/" method="post" data-ajax="false" id='knxform'>{% csrf_token %}
        <ul data-role="listview">
            {% if datapoint.id %}
            <li data-role="list-divider">Datenpunkt bearbeiten</li>
            {% else %}
            <li data-role="list-divider">Datenpunkt hinzufügen</li>
            {% endif %}
            {% if err %}
            <li style="color: red;">
                {{ err }}
            </li>
            {% endif %}
            </li>
            <li>
                <label for="group_address">Gruppenadresse</label>
                <input type="text" name="group_address" id="group_address" value="{{ datapoint.group_address }}" placeholder="0/0/0" {% if datapoint.id %}disabled{% endif %}/>
            </li>
            <li>
                <label for="typ">Typ</label>
                <select id="typ" name="typ" {% if datapoint %}disabled{% endif %} data-mini="true">
                    <option value="aktor" {% if 'Aktor' in datapoint.get_identifier %}selected="selected"{% endif %}>Aktor</option>
                    <option value="sensor" {% if 'Sensor' in datapoint.get_identifier %}selected="selected"{% endif %}>Sensor</option>
                </select>
            </li>
            <li>
                <label for="description">Beschreibung</label>
                <input type="text" name="description" id="description" value="{{ datapoint.description }}"/>
            </li>
            <li id="dptli">
                <label for="dpt">Datenpunkttyp</label>
                <select id="dpt" name="dpt" {% if datapoint.id %}disabled{% endif %} data-mini="true">
                    <option value="1.001" {% if datapoint.datapoint_type == "1.001" %}selected="selected"{% endif %}>1.001</option>
                    <option value="5.001" {% if datapoint.datapoint_type == "5.001" %}selected="selected"{% endif %}>5.001</option>
                    <option value="9.001" {% if datapoint.datapoint_type == "9.001" %}selected="selected"{% endif %}>9.001</option>
                </select>
            </li>
            <li>
                <label for="raum">Raum</label>
                <select id="raum" name="raum" data-mini="true">
                    <option value="0">-</option>
                    {% for raum in eundr %}
                    <option value="{{ raum.0 }}" {% ifequal datapoint.raum.id raum.0 %}selected="selected"{% endifequal %}>{{ raum.1 }}</option>
                    {% endfor %}
                </select>
            </li>

{#            <li class="dpt-1-001">#}
{#            </li>#}
{#            <li class="dpt-5-001">#}
{#                zb min/max oeffnung, regelbereich#}
{#            </li>#}

            <li class="aktor">
                <label for="recgroupaddr">Statusaddresse(n)</label>
                <input type="text" name="recgroupaddr" id="recgroupaddr" value="{{ datapoint.rec_group_addresses|join:', ' }}" placeholder="0/0/0"/>
            </li>

            <li class="dpt-9-001">
                <label for="sensortyp">Sensortyp</label>
                <select name="sensortyp" id="sensortyp" data-mini="true">
                    <option value="0">-</option>
                    <option value="rt" {% if datapoint.mainsensor %}selected="selected"{% endif %}>Raumtemperatursensor</option>
                    <option value="rl" {% ifequal datapoint.get_typ "rl" %}selected="selected"{% endifequal %}>Rücklaufsensor</option>
                    <option value="at" {% ifequal datapoint.get_typ "at" %}selected="selected"{% endifequal %}>Außentemperatursensor</option>
                    <option value="hr" {% ifequal datapoint.get_typ "hr" %}selected="selected"{% endifequal %}>Heizraumsensor</option>
                </select>
                <span style="color:#cb0963" id="selsenerr"></span>
            <li class="dpt-9-001">
                <label for="offset">Sensoroffset</label>
                <input type="number" id="offset" name="offset" value="{{ datapoint.offset }}" step=".1"/>
            </li>
            <li data-icon='false'>
                <a href="#" onclick="$('#knxform').get(0).submit();" style="text-align:center">Speichern</a>
            </li>
        </ul>
    </form>

{% endblock %}

{% block footer %}
{% endblock %}